body {
  background-color: #282c34;
  font-family: "Quicksand";

}

html {  
  scroll-behavior: smooth;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  /*max-width: 728px;*/
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}

main {
  padding: 10px;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}


.popup-content{
  background-color: rgb(27, 39, 52) !important;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 40px;
  text-align: center;
  padding: 5px;
  color: white;
  
}
.modal > .content {
  width: 100%;
  padding: 20px 5px;
  font-size: 20px;
  color: white;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.input-field {
  width: 70%;
  font-size:20pt;
  height: 5em;
  box-shadow: 5px 10px #888888;
  border-style: none;
  background-color: #282c34;
  color: white;
  font-family: 'Quicksand';
  font-weight: bolder;
}

.new-post-btn-container{
  padding-top: 20px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-post-btn {
  text-align: center;
  text-decoration: none;
  display:flex;
  cursor: pointer;
  padding: 20px 90px;
  font-size: large;
  background-color: #0b93f6;
  border-style: none;
  border-radius: 15px;
  color: white;
}

.post-send-btn{
  border-style: none;
  background-color: #04ab4199;
  margin-left: 4vw;
  font-size: large;
  padding: 20px;
  color: white;
  cursor: pointer;
  border-radius: 15px;

}

.cancel-post-button{
  border-style: none;
  background-color: rgba(222, 0, 0, 0.869);
  color: white;
  font-size: large;
  padding: 20px 60px;
  cursor: pointer;
  border-radius: 15px;
}

.side-container{
  position: fixed;
  width: 20%;
  margin-top: 130px;
}

.feedTitle{
  font-size: 30px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}


.bio-container{
  background-color: #042f4e8f;
  padding: 30px 10px; 
  border-radius: 20px;
}

ul, li {
  text-align: left;
  list-style: none;
}

.bioInfo {
  color: white;
  font-weight: bold;
  font-size: larger;
}

.signOutBtnContainer {
  padding-top: 20px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signOutBtn {
  background-color: #0f244f6b; /* Green */
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display:flex;
  cursor: pointer;
  font-size: large;
  border-radius: 15px;
}


.core-container{
  /* Move container to the left */
  padding-left: 20%;
}


.chatBox {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 100px 47%;
  border-radius: 10px;
  position: relative;
  color: white;
  
}

.chat-container{
  width: 100%;
  text-align: center;

  margin-bottom: 12px;
  /* Spacing above. */
  margin-top: 20px;
  border-radius: 10px;

  color: white;
  text-align: center;
}

.chat-container-content{
  /* How to display content */
}

.chat-container-content-auth{
  /* How to displaty content */
  width: fit-content;
  padding-inline: 20px;
  display: inline;
  font-weight: 900;
  color: rgb(167, 166, 166);
  position: relative;
  top: -15px;
}

.message {
  /* Place image in message container */
  align-items: center;
}


.send {
  background: #0b93f6;
  border-radius: 25px;
}

.send .chat-container-content {
  background: #37343490;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 95%;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 40px;
  text-align: left;
  margin: 0 auto;
}

.received {
  background-color: rgba(228, 15, 15, 0.311);
  border-radius: 25px;
}

.received .chat-container-content {
  background: #37343490;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 95%;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 40px;
  text-align: left;
  margin: 0 auto;
}
.chatLikeBtn {
  margin-left: 20px;
  border-radius: 5px;
  color: white;
  background-color: #181717;
  border: none;
  padding: 15px 40px;
}

.chatNumberLike {
  margin-left: 20px;
  border-radius: 5px;
}

.messageUserImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.bioImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
