body {
  background-color: #282c34;
  font-family: "Quicksand";
  color: white;
}

.replyTextArea {
  display: inline;
  min-width: fit-content;
  width: 80%;
  margin: 0 auto;
  border-style: none;
  background-color: rgba(155, 52, 52, 0.41);
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  font-family: "Quicksand";
}

.replyTextArea:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

.replyTextArea::placeholder {
  font-family: "Quicksand";
  color: white;
}


.replySubmitBtn{
  display: inline;
  border-style: none;
  margin: 0 auto;
  top: -37px;
  height: 50px;
  width: 10%;
  margin-inline: 15px;
  position: relative;
  font-size: 15px;
  background-color: rgba(119, 27, 27, 0.974);
  color: white;
  font-family: "Quicksand";
  border-radius: 10px;
  cursor: pointer;
}

.replySubmitBtn:hover{
  background-color: rgb(169, 36, 36);
  font-weight: 700;
}


.repliesMsgContainer {
  background-color: rgba(111, 26, 26, 0.375);
  padding: 10px 20px;
  
  min-width: fit-content;
  width: 80%;
  margin-left: 30px;
}

.repliesMsgContainer .replyMsgContainer {
  min-width: fit-content;
  border-radius: 15px;
  padding-bottom: 5px;
  background-color: #b8496c82;
  width: 50%;
}

.repliesMsgContainer .replyMsgContainer .replyUserName {
  display: inline;
  padding-inline: 20px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  top: -15px;
}

.repliesMsgContainer .replyMsgContainer .replyMsgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.repliesMsgContainer .replyMsgContainer .replyText {
  padding-left: 20px;
  padding: 10px;
  background-color: #37343490;
  min-width: fit-content;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.alreadyLiked {
  padding-left: 20px;
  background-color: #ae3713c6;
  width: fit-content;
  padding: 10px 15px; 
  margin-left: 5px;
}

.likedByNameContainer {
  padding-left: 20px;
  padding-bottom: 10px;
}

.likedByNames{
  display: inline;
  color: white;
  font-weight: bolder;
}

html {  
  scroll-behavior: smooth;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  /*max-width: 728px;*/
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}

main {
  padding: 10px;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* Accesses JSPOPUP lib CSS properties */
.popup-content{
  background-color: rgb(27, 39, 52) !important;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 40px;
  text-align: center;
  padding: 5px;
  color: white;
  
}
.modal > .content {
  width: 100%;
  padding: 20px 5px;
  font-size: 20px;
  color: white;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.inputField {
  width: 70%;
  font-size:20pt;
  height: 5em;
  border-style: none;
  background-color: #282c34;
  color: white;
  font-family: 'Quicksand';
  font-weight: bolder;
}

.inputField:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

.newPostBtnContainer{
  padding-top: 20px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newPostBtn {
  text-align: center;
  text-decoration: none;
  display:flex;
  cursor: pointer;
  padding: 20px 90px;
  font-size: large;
  background-color: #0b93f6;
  border-style: none;
  border-radius: 15px;
  color: white;
}

.postSendBtn{
  border-style: none;
  background-color: #04ab4199;
  margin-left: 4vw;
  font-size: large;
  padding: 20px;
  color: white;
  cursor: pointer;
  border-radius: 15px;

}

.cancelPostBtn{
  border-style: none;
  background-color: rgba(222, 0, 0, 0.869);
  color: white;
  font-size: large;
  padding: 20px 60px;
  cursor: pointer;
  border-radius: 15px;
}

.sideContainer{
  position: fixed;
  width: 20%;
  margin-top: 130px;
}

.feedTitle{
  font-size: 30px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.signInBtn{
  background-color: rgb(183, 45, 45);
  padding: 20px 30px;
  margin-left: 20%;
  border-style: none;
  font-size: large;
  color: white;
  cursor: pointer;
}

.bioContainer{
  background-color: #042f4e8f;
  padding: 30px 10px; 
  border-radius: 20px;
}

ul, li {
  text-align: left;
  list-style: none;
}

.bioInfo {
  color: white;
  font-weight: bold;
  font-size: larger;
}

.signOutBtnContainer {
  padding-top: 20px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signOutBtn {
  background-color: #0f244f6b; /* Green */
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display:flex;
  cursor: pointer;
  font-size: large;
  border-radius: 15px;
}


.coreContainer{
  /* Move container to the left */
  padding-left: 20%;
}


.postContainer{
  width: 100%;
  text-align: center;

  margin-bottom: 12px;
  /* Spacing above. */
  margin-top: 20px;
  border-radius: 10px;

  color: white;
  text-align: center;
}

.postContainerContent{
  /* How to display content */
}

.postContainerContentAuth{
  /* How to displaty content */
  width: fit-content;
  padding-inline: 20px;
  display: inline;
  font-weight: 900;
  color: rgb(167, 166, 166);
  position: relative;
  top: -15px;
}

.post {
  /* Place image in message container */
  align-items: center;
  margin-top: 20px;
}


.send {
  background: #0b94f6ad;
  border-radius: 25px;
}

.send .postContainerContent {
  background: #37343490;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 95%;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 40px;
  text-align: left;
  margin: 0 auto;
}

.received {
  background-color: rgba(228, 15, 15, 0.311);
  border-radius: 25px;
}

.received .postContainerContent {
  background: #37343490;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 95%;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 40px;
  text-align: left;
  margin: 0 auto;
}
.postLikeBtn {
  margin-left: 20px;
  border-radius: 5px;
  color: white;
  background-color: #181717;
  border: none;
  padding: 15px 40px;
}

.postNumberLike {
  margin-left: 20px;
  border-radius: 5px;
}

.postUserImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.bioImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
